{:company/legal-name "Endava plc"
 :company/lei "213800JJ6CRPCWCQVZ25"
 :company/jurisdiction "GB"
 :company/website "https://www.endava.com"
 :company/ticker "DAVA (NYSE)"
 :company/inquiry-form-url "https://www.endava.com/contact"}
